{% extends 'base.html' %}

{% block content %}

    <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
        <h5> Welcome, {{user}}! 👋 </h5>
        <p> What do you want to do today? </p>
        <div>
            <a class="btn btn-outline-secondary" href="{% url 'create-travel-request' %}">Create Travel Request</a>
            <a class="btn btn-outline-secondary" href="{% url 'tbs-dash' %}">Create an Invoice</a>
            <a class="btn btn-outline-secondary" href="{% url 'tbs-dash' %}">Create new Liquidation</a>
        </div>
    </div>

{% endblock %}